.btn {
  @include f-muli-bold;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 50px 15px 30px;
  border-radius: 40px;
  color: $white;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  line-height: 1;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40px;
    z-index: -1;
  }

  &.blue {
    box-shadow: 0px 0px 50.6px 4.4px rgba(36, 27, 214, 0.65);
    background: $purple;
  }
  &.red {
    &:before {
      box-shadow: 0px 0px 50.6px 4.4px rgba(255, 0, 78, 0.65);
    }
    background: $red;
  }
  &.green {
    &:before {
      box-shadow: 0px 0px 50.6px 4.4px rgba(60, 184, 121, 0.65);
    }
    background: #3CB879;
  }
  &.pulse {
    &:before {
      animation: pulse 5s infinite; /* IE 10+, Fx 29+ */
      animation-timing-function: ease;
    }
    @keyframes pulse {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &.white {
    background: white;
    padding: 15px 40px 15px 40px;
    color: $purple;
    border: 1px solid $purple;
    &:after {
      display: none;
    }
  }
  &:after {
    content: '';
    margin-left: 10px;
    position: absolute;
    align-items: center;
    right: 20px;
    top: calc(50% + 1px);

    width: 11px;
    height: 22px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 11 22' style='enable-background:new 0 0 11 22;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);fill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='11' height='22'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cpath class='st0' d='M11,11c0,0.2-0.1,0.4-0.2,0.6L1.4,21.8c-0.3,0.4-0.8,0.4-1.1,0s-0.3-0.9,0-1.2L9.1,11L0.2,1.5 c-0.3-0.4-0.3-0.9,0-1.2s0.8-0.3,1.1,0l9.4,10.1C10.9,10.6,11,10.8,11,11'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
