@font-face {
  font-family: 'Muli Light';
  src: url('./fonts/Muli-Light.eot');
  src: url('./fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Muli-Light.woff2') format('woff2'),
  url('./fonts/Muli-Light.woff') format('woff'),
  url('./fonts/Muli-Light.ttf') format('truetype'),
  url('./fonts/Muli-Light.svg#./fonts/Muli-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muli ExtraLight';
  src: url('./fonts/Muli-ExtraLight.eot');
  src: url('./fonts/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Muli-ExtraLight.woff2') format('woff2'),
  url('./fonts/Muli-ExtraLight.woff') format('woff'),
  url('./fonts/Muli-ExtraLight.ttf') format('truetype'),
  url('./fonts/Muli-ExtraLight.svg#./fonts/Muli-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Muli Bold';
  src: url('./fonts/Muli-Bold.eot');
  src: url('./fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Muli-Bold.woff2') format('woff2'),
  url('./fonts/Muli-Bold.woff') format('woff'),
  url('./fonts/Muli-Bold.ttf') format('truetype'),
  url('./fonts/Muli-Bold.svg#./fonts/Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

